* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

 :root {
    --container-aluno: rgba(255, 255, 255, 0.63);
    --font-color: #f0f0f0;
    --nav-color: #0f1d27e8;
    --btn-color: #0f1d2785;
    --btn-caption: #0f1d276e;
    --gold: #C1A45F;
    --footer-color: rgba(102, 102, 102, 0.541);
    --gold-semitransparent: #c1a45fd7;
    --gold-transparent: #fdf5d33a;
}


/*==========----- IMPEDE QUE O USER ARRASTE AS IMAGENS DO SITE + REMOÇÃO DE ESTILO DE LINKS -----==========*/

img {
    -webkit-user-drag: none;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

a:hover {
    color: var(--font-color);
}

body {
    background-image: url('/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--font-color);
}

main {
    width: 1200px;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    backdrop-filter: blur(10px);
    background-color: var(--btn-color);
    padding: 2rem;
    border-radius: 0.7rem;
}

.form-search {
    width: 100%;
    display: flex;
}

#search {
    padding: 1rem;
    height: 3.5rem;
    border-style: none;
    border-radius: 0.7rem 0 0 0.7rem;
    width: 100%;
}

.search-button {
    cursor: pointer;
    background-color: var(--btn-color);
    border-radius: 0 0.7rem 0.7rem 0;
    border-style: none;
    height: 3.5rem;
}

.search-button>img {
    height: 80%;
}

.aluno-container {
    display: flex;
    overflow: hidden;
    background-color: var(--container-aluno);
    border-radius: 0.7rem;
}

.dados-container {
    width: 100%;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.com-treino {
    display: flex;
    justify-content: center;
    background-color: green;
    border-radius: 1rem;
}

.sem-treino {
    display: flex;
    justify-content: center;
    background-color: red;
    border-radius: 1rem;
}

.sem-treino>img,
.com-treino>img {
    width: 80%;
}

.link-content {}