* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

 :root {
    --container-color: rgba(255, 255, 255, 0.63);
    --font-color: #f0f0f0;
    --nav-color: #0f1d27e8;
    --main-color: #0f1d273a;
    --btn-treino-color1: #58816eb7;
    --btn-treino-color2: #b36e6eb7;
    --btn-color: #0f1d2785;
    --btn-caption: #0f1d276e;
    --gold: #C1A45F;
    --footer-color: rgba(102, 102, 102, 0.541);
    --gold-semitransparent: #c1a45fd7;
    --gold-transparent: #fdf5d33a;
}


/*==========----- IMPEDE QUE O USER ARRASTE AS IMAGENS DO SITE + REMOÇÃO DE ESTILO DE LINKS -----==========*/

img {
    -webkit-user-drag: none;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

a:hover {
    color: var(--font-color);
}

body {
    background-image: url('/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--font-color);
}

main {
    width: 1200px;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    backdrop-filter: blur(10px);
    background-color: var(--main-color);
    padding: 2rem;
    border-radius: 0.7rem;
}

.form-search {
    width: 100%;
    display: flex;
}

#search {
    padding: 1rem;
    height: 3.5rem;
    border-style: none;
    border-radius: 0.7rem 0 0 0.7rem;
    width: 100%;
}

.search-button {
    cursor: pointer;
    background-color: var(--btn-color);
    border-radius: 0 0.7rem 0.7rem 0;
    backdrop-filter: blur(10px);
    border-style: none;
    height: 3.5rem;
}

.search-button>img {
    height: 80%;
    margin: 0 0.25rem 0 0.25rem;
}

.link-content {
    width: 100%;
}

.aluno-container {
    display: flex;
    overflow: hidden;
    background-color: var(--container-color);
    border-radius: 0.7rem;
}

.mini-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.mini-box {
    display: flex;
    gap: 0.5rem;
}

.mini {
    background-color: var(--btn-treino-color2);
    border-radius: 0.25rem;
    width: 1.25rem;
    height: 1rem;
}

.mini1 {
    background-color: var(--btn-treino-color1);
}

.dados-container {
    width: 100%;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.dados>h2:first-child {
    font-size: x-large;
    font-weight: bolder;
}

.com-treino {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--btn-treino-color1);
    border-radius: 1rem;
}

.sem-treino {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--btn-treino-color2);
    border-radius: 1rem;
}

.sem-treino>img,
.com-treino>img {
    width: 80%;
    height: 80%;
}

.image-container {
    max-width: 18rem;
}

.profile-image {
    max-width: 100%;
    display: block;
}


/*==========----- @MEDIAS -----==========*/

@media(max-width:1250px) {
    main {
        width: 1000px;
    }
}

@media(max-width:1050px) {
    main {
        width: 770px;
    }
}

@media(max-width:1050px) {
    main {
        width: 770px;
    }
    .content {
        padding: 1rem;
    }
    .dados-container {
        padding: 1rem;
    }
}

@media(max-width:780px) {
    main {
        width: 520px;
    }
}

@media(max-width:530px) {
    main {
        width: 350px;
    }
}

@media(max-width:350px) {
    main {
        width: 310px;
    }
}