* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --btn-color: #ffd9a1a1;
    --btn-large: #ffc297a1;
    --black: #000000;
    --gold: #C1A45F;
    --scroll-effect-color: rgba(151, 151, 151, 0.158);
    --footer-color: rgba(102, 102, 102, 0.541);
    --gold-semitransparent: #c1a45fd7;
    --gold-transparent: #fdf5d33a;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-image: url('/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
}

a {
    text-decoration: none;
    color: white;
}


/* ----HEADER STYLE---- */

header {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 5rem;
}


/* ----NAV BAR STYLE---- */

.nav-bar {
    height: 100%;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#nav-item-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 3rem;
}

.nav-logo-box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}


/* ----NAV ITEMS STYLE---- */

.item-box {
    height: 100%;
    width: 5rem;
    transition: 0.15s ease-in-out;
}

.nav-link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.active-item {
    color: var(--gold);
}

.active-item::after {
    content: " ";
    height: 3px;
    background-color: var(--gold);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}


/* -------- LOGIN BUTTON STYLE -------- */

.login-button {
    background-color: #ffe19a77;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    font-size: 1.1rem;
    font-family: 'Fjalla One', sans-serif;
    transition: 0.15s ease-in-out;
}

.login-button:hover {
    background-color: var(--gold-semitransparent);
    color: var(--black);
}

.login-button-scroll-effect {
    color: var(--black);
}


/* ----NAV ITEMS HOVER EFFECT---- */

.nav-link::after {
    content: " ";
    height: 3px;
    background-color: var(--gold);
    position: absolute;
    left: 0;
    bottom: 0;
}

.nav-link:hover {
    color: var(--gold);
}

.nav-link:hover::after {
    width: 100%;
}

.item-box:hover {
    background-color: var(--gold-transparent);
}


/* ----SUB MENU---- */

.sub-menu-box {
    display: block;
}

.sub-menu-box:hover .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    background-color: var(--black);
    list-style: none;
    position: absolute;
    z-index: 1000;
    margin: 0.2rem;
    padding: 0.2rem;
}

.sub-menu-link {
    text-decoration: none;
    color: white;
}

.sub-menu-link:hover {
    color: var(--gold);
}


/*--------BTN-MENU--------*/

#btn-menu {
    cursor: pointer;
    display: none;
    border: none;
    background-color: transparent;
}

#btn-menu>img {
    width: 4rem;
}


/*--------HIDE/SHOW-NAV-ITEMS--------*/

@media(max-width:860px) {
    #nav-item-box {
        width: 100%;
        display: none;
        position: absolute;
        top: 4rem;
    }
    .nav-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: var(--black);
    }
    .item-box {
        width: 100%;
    }
    .sub-menu {
        height: auto;
    }
    #btn-menu {
        display: block;
    }
}

#nav-item-box.menu-expanded {
    display: flex;
}

footer {
    display: flex;
    justify-content: space-between;
}


/* AREA DE TESTES */

.nav-scroll-effect {
    background-color: var(--scroll-effect-color);
    transition: 0.3s ease-in;
    backdrop-filter: blur(10px);
}

.link-scroll-effect {
    color: var(--black);
}

.nav-bar {
    transition: 0.3s ease-out;
}

main {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.btn-container {
    width: 50%;
    min-width: 420px;
    gap: 2.5rem;
    color: var(--black);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn-row {
    width: 100%;
    gap: 2rem;
    display: flex;
}

.btn-box {
    width: 100%;
    color: var(--black);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0.8rem;
}

.btn-box:hover {
    background: linear-gradient(130deg, rgba(255, 218, 161, 0)0%, 80%, rgba(213, 255, 235, 0.7) 100%);
    transform: scale(102%);
}

.btn-caption {
    text-align: center;
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.219);
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 0 0 0.8rem 0.8rem;
}

.btn-small {
    width: 100%;
    max-height: 10rem;
    padding: 1rem;
    background-color: var(--btn-color);
    border: none;
    border-radius: 0.8rem 0.8rem 0 0;
    backdrop-filter: blur(4px);
}

.btn-medium {
    width: 100%;
    max-height: 10rem;
    padding: 1rem;
    background-color: var(--btn-color);
    border: none;
    border-radius: 0.8rem 0.8rem 0 0;
    backdrop-filter: blur(4px);
}

.btn-large {
    width: 100%;
    min-height: 15rem;
    max-height: 20rem;
    padding: 3rem;
    background-color: var(--btn-large);
    border: none;
    border-radius: 0.8rem 0.8rem 0 0;
    backdrop-filter: blur(4px);
}

.btn-small>img,
.btn-medium>img,
.btn-large>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 1rem 1rem 0 0;
    flex-direction: column;
    background-color: var(--footer-color);
    backdrop-filter: blur(10px);
}

.nav-footer {
    width: 80%;
    display: flex;
    justify-content: space-around;
}


/* AREA DE TESTES */