*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #242424;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
}
/* ----HEADER STYLE---- */
header {
    width: 100%;
}
/* ----NAV BAR STYLE---- */
nav {
    width: 100%;
    font-size: 1.8rem;
    font-family: 'Fjalla One', sans-serif;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo-box {
display: flex;
justify-content: center;
align-items: center;
}
.nav-list {
    list-style: none;
    display: flex;
}
/* ----NAV ITEMS STYLE---- */

.nav-item-box {
    
    margin: 0.2rem;
    padding: 0.2rem;
}

.nav-link {
    display: flex;
    color: white;
    position: relative;
    cursor: pointer;
}

.active-item {
    color: #DDCB7F;
}

.active-item::after {
    content: " ";
    height: 3px;
    background-color: #DDCB7F;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

}/* ----NAV ITEMS HOVER EFFECT---- */
.nav-link::after {
    content: " ";
    height: 3px;
    background-color: #DDCB7F;
    position: absolute;
    left: 0;
    bottom: 0;
}

.nav-link:hover {
    color: #DDCB7F;

}

.nav-link:hover::after {
    width: 100%;
}

/* ----SUB MENU---- */
.adega-box {
display: block;
}
.adega-box:hover .sub-menu{
    display: block;
}

.sub-menu {
    display: none;
    background-color: rgba(24, 24, 24, 0.651);
    list-style: none;
    position: absolute;
    z-index: 1000;
}

.sub-menu-link {
    text-decoration: none;
    color: white;
}
.sub-menu-link:hover{
    color:#DDCB7F ;
}

#btn-menu {
    display: none;
    background-color: transparent;
}
#btn-menu>img{
    width: 4.5rem;
}
/*--------HIDE/SHOW-NAV-ITEMS--------*/

@media(max-width:860px) {
    .item-box {
        display: none;
    }

    #btn-menu {
        display: block;
    }
}

a{
    text-decoration: none;
    color: white;
}
footer{
    display: flex;
    justify-content: space-between;
}