*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
}
a:hover {

    opacity:0.7;
}.logo {
font-size: 24px;
text-transform: uppercase;
letter-spacing: 4px;
color: white;


}


.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background: #23232e;


}
.nav-list{
    letter-spacing: 3px;
    margin-left: 32px;
    text-decoration: none;
    color: white;
    list-style: none;


}