* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 :root {
    --btn-color: #ffd9a1a1;
    --btn-large: #ffc297a1;
    --black: #000000;
    --gold: #C1A45F;
    --scroll-effect-color: rgba(151, 151, 151, 0.158);
    --footer-color: rgba(102, 102, 102, 0.541);
    --gold-semitransparent: #c1a45fd7;
    --gold-transparent: #fdf5d33a;
}

body{
    /* background-image: url('/img/background.jpg'); */


}
main-container{


      
}    

nav-bar2{

}

usuario{
}
container{
        width: 100%;
        max-width: 400px;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 0.8rem;
        transition: ease-in-out 0.2s;
}
container:hover{
    background: linear-gradient(130deg, rgba(255, 218, 161, 0)0%, 80%, rgba(213, 255, 235, 0.7) 100%);
    transform: scale(102%);
}
