/*==========----- RESET DE ESTILO GLOBAL -----==========*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*==========----- RESET DE ESTILO DAS LISTAS -----==========*/

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


/*==========----- VARIAVEIS -----==========*/

:root {
    --font-color: #f0f0f0;
    --nav-color: #0f1d27e8;
    --gold: #C1A45F;
    --logout: rgb(156, 0, 0);
    --logout-menu: rgba(185, 99, 99, 0.726);
    --scroll-effect-color: #0f1d276c;
    --footer-color: rgba(102, 102, 102, 0.541);
    --gold-semitransparent: #c1a45fd7;
    --gold-transparent: #fdf5d321;
}


/*==========----- IMPEDE QUE O USER ARRASTE AS IMAGENS DO SITE -----==========*/

img {
    -webkit-user-drag: none;
}

a {
    text-decoration: none;
    color: var(--font-color);
}


/*==========----- HEADER STYLE -----==========*/

header {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 5rem;
}


/*==========----- NAV BAR STYLE -----==========*/

.nav-bar {
    height: 100%;
    background-color: var(--nav-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.3s ease-in-out;
}

.nav-item-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 3rem;
}

.nav-list {
    display: flex;
    align-items: center;
    height: 100%;
}


/*==========----- LOGO STYLE -----==========*/

.nav-logo-link {
    height: 100%;
}

.nav-logo-box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}


/*==========----- NAV ITEMS STYLE -----==========*/

.item-box {
    height: 100%;
    transition: 0.15s ease-in-out;
}

.nav-link {
    height: 100%;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
    position: relative;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}


/*==========----- LOGIN BUTTON STYLE -----==========*/

.login-button {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #ffe19a77;
    border: none;
    color: var(--font-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    transition: 0.15s ease-in-out;
}

.login-button:hover {
    background-color: var(--gold-semitransparent);
    color: var(--nav-color);
}

.login-button-scroll-effect {
    color: var(--nav-color);
}


/*==========----- NAV ITEMS HOVER EFFECT -----==========*/

.nav-link::after {
    content: " ";
    width: 0;
    height: 3px;
    background-color: var(--gold);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.3s ease-in-out;
}

.nav-link:hover::after {
    width: 100%;
}

.logout::after {
    content: " ";
    width: 0;
    height: 3px;
    background-color: var(--logout);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.3s ease-in-out;
}

.item-box:hover {
    background-color: var(--gold-transparent);
}


/*==========----- NAV DROP -----==========*/

.drop-down {
    height: 0;
    backdrop-filter: blur(10px);
    width: 10rem;
    overflow: hidden;
    background-color: var(--nav-color);
    transition: 0.3s ease-in-out;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 0 0 0.5rem 0.5rem;
}

.item-box:hover>.drop-down {
    height: 13rem;
    display: flex;
}

.drop-li {
    width: 100%;
}


/*==========----- NAV SCROLL EFFECT -----==========*/

.nav-scroll-effect {
    background-color: var(--scroll-effect-color);
}

.link-scroll-effect,
.link-scroll-effect:hover {
    color: var(--nav-color);
}

.nav-blur {
    height: 5rem;
    width: 100%;
    position: absolute;
    backdrop-filter: blur(10px);
    z-index: -1;
}


/*==========----- BTN-MENU -----==========*/

#btn-menu {
    cursor: pointer;
    display: none;
    border: none;
    background-color: transparent;
    margin-right: 1rem;
}

#btn-menu>img {
    width: 4rem;
}


/*==========----- MENU EXPANDED -----==========*/

#nav-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    background-color: var(--nav-color);
    width: 80vw;
    height: 0vh;
    max-width: 1000px;
    overflow: hidden;
    border-radius: 0 0 0 1.5rem;
    transition: ease-in-out 0.3s;
    backdrop-filter: blur(10px);
}

#nav-menu.menu-expanded {
    height: 80vh;
}

#nav-menu.nav-scroll-effect {
    background-color: var(--scroll-effect-color);
    transition: 0.3s ease-in;
}

.menu-grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.grid-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(130deg, rgba(15, 29, 39, 0.582)0%, 80%, rgba(213, 255, 235, 0.562) 100%);
    border-radius: 1rem;
    transition: 0.5s ease-in-out;
}

.grid-link:hover {
    background: linear-gradient(130deg, rgba(15, 29, 39, 0.582)0%, 70%, rgba(213, 255, 235, 0.562) 100%);
    color: white;
}

.logout-menu:hover {
    background-color: var(--logout-menu);
}

.logout .grid-item>img {
    width: 70px;
}

.profile-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
    gap: 1rem;
    max-width: 140px;
    background-color: #0000003f;
    padding: 1rem;
    border-radius: 1rem;
}

.profile-box>img {
    width: 100%;
}


/*==========----- CORRIGE O BUG DO MENU EXPANDIDO -----==========*/

@media(min-width:1024px) {
    #nav-menu {
        display: none;
    }
}


/*==========----- HIDE/SHOW-NAV-ITEMS -----==========*/

@media(max-width:1024px) {
    .nav-list {
        /*==========----- oculta os itens da nav-bar -----==========*/
        display: none;
    }
    #btn-menu {
        display: block;
    }
    .nav-bar {
        /*==========----- muda o espaçamento do botão de menu e do logotipo para melhor vizualização em dispositivos menores -----==========*/
        justify-content: space-between;
    }
}

@media (max-width: 620px) {
    header {
        height: 4rem;
    }
    .nav-blur {
        height: 4rem;
    }
    .nav-bar {
        height: 4rem;
    }
}


/*==========----- FOOTER STYLE -----==========*/

footer {
    width: 100%;
    bottom: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--scroll-effect-color);
    backdrop-filter: blur(10px);
}

.nav-footer {
    width: 80%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.footer-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 3rem;
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
}

.icon {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
}

.footer-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}