* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --btn-color: #ffd9a1a1;
    --black: #000000;
    --gold: #C1A45F;
    --scroll-effect-color: rgba(151, 151, 151, 0.158);
    --footer-color: rgba(102, 102, 102, 0.541);
    --gold-semitransparent: #c1a45fd7;
    --gold-transparent: #fdf5d33a;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


/* ----HEADER STYLE---- */

header {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 5rem;
}


/* ----NAV BAR STYLE---- */

.nav-bar {
    height: 100%;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.3s ease-in-out;
}

.nav-item-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 3rem;
}

.nav-logo-box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}


/* ----NAV ITEMS STYLE---- */

.item-box {
    height: 100%;
    width: 5rem;
    transition: 0.15s ease-in-out;
}

.nav-link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    position: relative;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.active-item::after {
    content: " ";
    height: 3px;
    background-color: var(--gold);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}


/* -------- LOGIN BUTTON STYLE -------- */

.login-button {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #ffe19a77;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    transition: 0.15s ease-in-out;
}

.login-button:hover {
    background-color: var(--gold-semitransparent);
    color: var(--black);
}

.login-button-scroll-effect {
    color: var(--black);
}


/* ----NAV ITEMS HOVER EFFECT---- */

.nav-link::after {
    content: " ";
    height: 3px;
    background-color: var(--gold);
    position: absolute;
    left: 0;
    bottom: 0;
}

.nav-link:hover::after {
    width: 100%;
}

.item-box:hover {
    background-color: var(--gold-transparent);
}


/*---- NAV SCROLL EFFECT ----*/

.nav-scroll-effect {
    background-color: var(--scroll-effect-color);
    backdrop-filter: blur(10px);
}

.link-scroll-effect,
.link-scroll-effect:hover {
    color: var(--black);
}


/*--------BTN-MENU--------*/

#btn-menu {
    cursor: pointer;
    display: none;
    border: none;
    background-color: transparent;
}

#btn-menu>img {
    width: 4rem;
}


/*--------HIDE/SHOW-NAV-ITEMS--------*/

@media(max-width:860px) {
    .nav-item-box {
        display: none;
        /* oculta os itens da nav-bar */
    }
    #btn-menu {
        display: block;
        /* exibe o botão do menu */
    }
}

#nav-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #000000;
    width: 80vw;
    height: 80vh;
    border-radius: 0 0 0 1.5rem;
    transition: ease-in-out 0.3s;
}

#nav-menu.menu-expanded {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#nav-menu.nav-scroll-effect {
    background-color: /* --footer-color: rgba(102, 102, 102, 0.541);
    --gold-semitransparent: #c1a45fd7;
    --gold-transparent: #fdf5d33a; */
    var(--footer-color);
    transition: 0.3s ease-in;
    backdrop-filter: blur(10px);
}

.menu-grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    padding: 1rem;
}

.grid-item {
    width: 100%;
    background-color: var(--gold-transparent);
    border-radius: 1rem;
}

.profile-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    width: 150px;
    background-color: #00000085;
    padding: 1rem;
    border-radius: 1rem;
}

.profile-box>img {
    width: 100%;
}