    * {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 1.1rem;
    }
    
     :root {
        --drop-border-color: rgba(245, 245, 245, 0.671);
        --drop-color: #ffd9a167;
        --nav-color: #000000;
        --gold: #C1A45F;
        --scroll-effect-color: rgba(151, 151, 151, 0.158);
        --footer-color: rgba(102, 102, 102, 0.541);
        --gold-semitransparent: #c1a45fd7;
        --gold-transparent: #fdf5d33a;
    }
    /* ==========----- IMPEDE QUE O USER ARRASTE AS IMAGENS DO SITE -----========== */
    
    img {
        -webkit-user-drag: none;
    }
    
    body {
        font-family: 'Roboto', sans-serif;
        font-size: 1.1rem;
        background-image: url('/img/background2.png'), url('/img/background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 95vh;
        font-family: 'Roboto', sans-serif;
    }
    
    a {
        color: #000000;
        text-decoration: none;
    }
    
    a:visited {
        color: #C1A45F;
    }
    
    .logo-box {
        border-radius: 0 1rem 1rem 0;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.637);
        backdrop-filter: blur(8px);
        width: 3rem;
    }
    
    .img {
        width: 80%;
    }
    
    .container {
        display: flex;
    }
    
    .wrapper {
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        border-radius: 1rem;
        background-color: #d1d1d196;
        backdrop-filter: blur( 6px);
        width: 27rem;
    }
    
    .form-signin {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .cadastro {
        margin-top: 25px;
        text-align: center;
        padding: 3rem;
        width: 100%;
        margin-bottom: 30px;
    }
    
    .login {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: normal;
    }
    /* ==========----- LOGIN BUTTON STYLE -----========== */
    
    .login-button {
        background-color: #ffe19a77;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 8px;
        font-size: 1.1rem;
        transition: 0.15s ease-in-out;
    }
    
    .login-button:hover {
        background-color: var(--gold-semitransparent);
        color: var(--nav-color);
    }
    
    .form-signin-heading {
        margin-bottom: 30px;
        font-size: 23px;
    }
    
    .input {
        position: relative;
        font-size: 16px;
        color: black;
        height: auto;
        padding: 10px;
        padding-left: 5px;
        box-sizing: border-box;
        border: none;
        border-radius: 0.5rem;
        outline: none;
        background-color: rgba(0, 0, 0, 0.548)important;
        width: 100%;
    }
    
    .input:focus {
        color: white;
        background-color: var(--nav-color);
        transition: ease-in-out 0.5s;
    }
    
    .alternative {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 1rem;
    }
    
    .alternative-item {
        color: #000000;
        transition: ease-in-out 0.2s;
    }
    
    .alternative-item:visited {
        color: #000000;
    }
    
    .alternative-item:hover {
        color: var(--gold);
    }
    /* ==========----- CAIXAS ANIMADAS -----========== */
    
    .drops {
        position: absolute;
    }
    
    .drop {
        border-left: 1px solid var(--drop-border-color);
        border-top: 1px solid var(--drop-border-color);
        border-radius: 1rem;
        position: absolute;
        background-color: var(--drop-color);
        filter: blur(1px);
        backdrop-filter: blur(5px);
        height: 6rem;
        width: 6rem;
        transition: ease-in-out 0.5s;
    }
    
    .drop-1 {
        height: 6rem;
        width: 6rem;
        top: 30px;
        left: -45px;
    }
    
    .drop-2 {
        height: 8rem;
        width: 8rem;
        top: -50px;
        left: 400px;
    }
    
    .drop-3 {
        z-index: -1;
        height: 7rem;
        width: 7rem;
        top: 370px;
        left: 390px;
    }
    
    .drop-4 {
        z-index: -1;
        height: 5rem;
        width: 5rem;
        top: 220px;
        left: -30px;
    }
    /* ==========----- MUDA O TAMANHO DO BACKGROUND COM RELAÇÃO A TELA -----========== */
    
    @media(max-width:1024px) {
        body {
            background-image: url('/img/background2tablet.png'), url('/img/background.jpg');
        }
    }
    /* ==========----- MUDA O POSICIONAMENTO DOS DROPS -----========== */
    
    @media(max-width:620px) {
        body {
            background-image: url('/img/background2phone.png'), url('/img/background.jpg');
        }
        .wrapper {
            width: 17rem;
        }
        .cadastro {
            padding: 0.5rem;
        }
        .login-button {
            padding: 10px 20px;
        }
        .logo-box {
            width: 1rem;
        }
        .img {
            width: 100%;
        }
        .drop-1 {
            height: 3.5rem;
            width: 3.5rem;
            top: 10px;
            left: -40px;
        }
        .drop-2 {
            height: 4rem;
            width: 4rem;
            top: -30px;
            left: 260px;
        }
        .drop-3 {
            z-index: -1;
            height: 4rem;
            width: 4rem;
            top: 290px;
            left: 240px;
        }
        .drop-4 {
            z-index: -1;
            height: 4rem;
            width: 4rem;
            top: 160px;
            left: -20px;
        }
    }
    /* ==========----- MUDA O TAMANHO DO BACKGROUND COM RELAÇÃO A TELA -----========== */
    
    @media(max-width:1024px) {
        body {
            background-image: url('/img/background2tablet.png'), url('/img/background.jpg');
        }
    }
    
    @media(max-width:860px) {
        body {
            background-image: url('/img/background2phone.png'), url('/img/background.jpg');
        }
    }
    
    .container:focus-within .drop {
        margin-top: 1rem;
    }
    /* ==========----- POPUP ERRO DE LOGIN -----========== */
    
    .toast {
        position: absolute;
        right: 0;
        top: 80px;
        margin: 30px;
        overflow: hidden;
        color: #842029;
        background: #f8d7da;
        height: auto;
        width: 190px;
        padding: 15px;
        border-radius: 8px;
        border-color: #f5c2c7;
        box-shadow: 0 0 8px rgba(56, 56, 56, 0.8);
        align-items: center;
    }
    
    .alert {
        border-radius: 1rem;
        background-color: #f8d7da;
        border-color: #f5c2c7;
        color: #842029;
        text-align: left !important;
        border-radius: 5px;
        position: absolute;
        min-height: 60px;
        margin: auto;
        width: 100%;
    }
    
    .alert ul {
        list-style-type: none;
        padding: 10px;
        width: 100%;
    }
    
    .alert ul li {
        padding-left: 50px;
    }