* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

:root {
    --container-color: rgba(255, 255, 255, 0.63);
    --semi-white: #f5f5f5;
    --font-color: #f0f0f0;
    --nav-color: #0f1d27e8;
    --main-color: #0f1d273a;
    --btn-treino-color1: #58816eb7;
    --btn-treino-color2: #b36e6eb7;
    --btn-color: #0f1d2785;
    --btn-caption: #0f1d276e;
    --gold: #C1A45F;
    --footer-color: #6666668a;
    --gold-semitransparent: #c1a45fd7;
    --gold-transparent: #fdf5d33a;
}

th {
    text-align: left;
    font-weight: bold;
    font-size: 17px;
    border-bottom: 1px solid black;
    padding-bottom: 3px;
}

.btn {
    background: none;
    border-radius: 7px;
    cursor: pointer;
    margin-left: 2px;

}

#delete-button:hover {
    background-color: #f07777;
    transition: 0.5s;
}

#edit-button:hover {
    background-color: #6666668a;
    transition: 0.5s;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--font-color) !important;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

main {
    width: 1300px;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    backdrop-filter: blur(10px);
    background-color: var(--main-color);
    padding: 2rem;
    border-radius: 0.7rem;
}

.create-container,
.edit-container {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--container-color);
    border-radius: 0.7rem;
    overflow: hidden;
}

.title-box {
    width: 100%;
    display: flex;
}

.title {
    background-color: var(--btn-color);
    border-radius: 0 0 0.3rem 0;
    padding: 0.5rem;
    width: fit-content;
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 0 2rem 2rem 2rem;
}

.form-container>button {
    width: 7rem;
    padding: 10px;
    background-color: var(--btn-treino-color1);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

input {
    padding: 10px;
    padding-left: 5px;
    box-sizing: border-box;
    border: none;
    border-radius: 0.25rem;
    outline: none;
}

.form-control {
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

a:hover {
    color: var(--font-color) !important;
}

.container-md {
    transform: translateY(5rem) !important;
}

.container-md {
    transform: translateY(5rem) !important;
}

.table-responsive-sm {
    background-color: var(--semi-white);
}

.wrapper {
    width: 100%;
    display: grid;
    justify-content: space-between;
    place-items: center;
    gap: 3rem;
}

.teste {
    display: flex;
}

.containercheck>h6 {
    color: black;
}

.containercheck {
    height: 100px;
    width: 100px;
    background: linear-gradient(130deg, rgba(255, 218, 161, 0)0%, 80%, rgba(213, 255, 235, 0.7) 100%);
    box-shadow: 0 0 25px rgba(17, 1, 68, 0.08);
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    text-align: center;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    position: relative;
    width: 100%;
}

input[type="checkbox"]:after {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f111";
    font-size: 18px;
    color: black;
    right: 0px;
    top: -18px;
    margin: 0.25rem;
}

input[type="checkbox"]:checked:after {
    font-weight: 900;
    content: "\f058";
}

.containercheck img {
    width: 70%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}

.table-responsive {
    width: 1100px;
}

table {
    margin-bottom: 2rem;
    color: black;
    width: 100%;
    background-color: var(--container-color);
    border-radius: 0.7rem !important;
    padding: 5px !important;
}

@media screen and (min-width: 320px) {
    .wrapper {
        grid-template-columns: repeat(4, 0fr);
        gap: 2rem;
    }

    .containercheck {
        height: 150px;
        width: 150px;
    }

    .containercheck h6 {
        font-weight: bold;
    }

    input[type="checkbox"]::after {
        font-size: 14px;
    }
}


/*==========----- @MEDIAS -----==========*/

@media(max-width:1330px) {
    .form-control {
        width: 900px;
    }

    .table-responsive {
        width: 900px;
    }

    main {
        width: 1000px;
    }
}

@media(max-width:1030px) {
    .form-control {
        width: 700px;
    }

    .table-responsive {
        width: 700px;
    }

    main {
        width: 770px;
    }

    .containercheck {
        width: 140px;
    }

    .content {
        padding: 1rem;
    }
}

@media(max-width:800px) {
    .form-control {
        width: 450px;
    }

    .table-responsive {
        width: 450px;
    }

    .containercheck {
        width: 200px;
        height: 170px;
    }

    .wrapper {
        grid-template-columns: repeat(2, 0fr);
        gap: 1rem;
    }

    main {
        width: 520px;
    }
}

@media(max-width:550px) {
    .form-control {
        width: 280px;
    }

    .table-responsive {
        width: 330px;
        overflow-x: auto !important;
    }

    .containercheck {
        width: 125px;
    }

    main {
        width: 370px;
    }

    .edit-container table {
        margin: auto;
    }

    th {
        font-size: 15px;
    }

    table h5 {
        font-size: 14px;
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
    }

    .edit-container {
        margin: auto;
        width: 340px;
    }

}

@media(max-width:370px) {
    .form-control {
        width: 240px;
    }

    .table-responsive {
        width: 240px;
    }

    .containercheck {
        width: 115px;
    }

    .wrapper {
        gap: 0.5rem;
    }

    main {
        width: 310px;
    }
}
