* {
    margin: 0;
    padding: 0;
}

:root {
    --drop-border-color: rgba(245, 245, 245, 0.671);
    --drop-color: #ffd9a167;
    --btn-large: #ffc297a1;
    --black: #000000;
    --gold: #C1A45F;
    --scroll-effect-color: rgba(151, 151, 151, 0.158);
    --footer-color: rgba(102, 102, 102, 0.541);
    --gold-semitransparent: #c1a45fd7;
    --gold-transparent: #fdf5d33a;
}

body {
    background-image: url('/img/background2.png'), url('/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    padding-bottom: 1px;
    padding-top: 1px;
    font-family: Arial, Helvetica, sans-serif;
}


/* -------- LOGIN BUTTON STYLE -------- */

.login-button {
    background-color: #ffe19a77;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    font-size: 1.1rem;
    font-family: 'Fjalla One', sans-serif;
    transition: 0.15s ease-in-out;
}

.login-button:hover {
    background-color: var(--gold-semitransparent);
    color: var(--black);
}

.login-button-scroll-effect {
    color: var(--black);
}

a {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #C1A45F;
}

.logo-box {
    border-radius: 0 1rem 1rem 0;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.637);
    backdrop-filter: blur(8px);
    width: 3rem;
}

.drops {
    position: absolute;
}

.drop {
    border-left: 1px solid var(--drop-border-color);
    border-top: 1px solid var(--drop-border-color);
    border-radius: 1rem;
    position: absolute;
    background-color: var(--drop-color);
    filter: blur(1px);
    backdrop-filter: blur(5px);
    height: 6rem;
    width: 6rem;
    transition: ease-in-out 0.5s;
}

.drop-1 {
    top: 30px;
    left: -60px;
}

.drop-2 {
    height: 8rem;
    width: 8rem;
    top: -50px;
    left: 410px;
}

.drop-3 {
    z-index: -1;
    height: 7rem;
    width: 7rem;
    top: 310px;
    left: 350px;
}

.drop-4 {
    height: 6rem;
    width: 6rem;
    top: 350px;
    left: 70px;
}

.drop-5 {
    z-index: -1;
    height: 5rem;
    width: 5rem;
    top: 160px;
    left: -30px;
}

.img {
    width: 80%;
}

.container {
    display: flex;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
    background-color: #d1d1d196;
    backdrop-filter: blur( 6px);
    width: 27rem;
}

.form-signin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cadastro {
    padding: 3rem;
    width: 100%;
}

.form-signin-heading,
.checkbox {
    margin-bottom: 30px;
}

.checkbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: normal;
}

.input {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    box-sizing: border-box
}

.input {
    color: white;
    border-style: none;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.548);
}

.input:focus {
    background-color: var(--black);
    transition: ease-in-out 0.5s;
}

.container:hover .drop {
    transition: ease-in-out 0.5s;
    margin-top: 1rem;
}