
.wrapper{
    width: 40rem;
    height: 33rem;
    align-items: center;
    background-color: #d1d1d196;
    backdrop-filter: blur( 6px);
    justify-content: space-between;
    border-radius: 1rem;
    backdrop-filter: blur( 6px);
    justify-content: center ;

}
.form-teste{
    display: flex;
    flex-direction: column;
    align-items: ;
    padding-left: 20px;

}

.select{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 29px;
    width: 400px;
    border-radius: 5px;

}
.cod{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 400px;
    border-radius: 7px;
}
.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35px;
    width: 400px;
    border-radius: 6px;
}
body {
background-image: url('/img/background2.png'), url('/img/background.jpg');
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
display: flex;
justify-content: center;
align-items: center;
height: 95vh;
font-family: 'Roboto', sans-serif;
}

.container{
background-color: rgb(255, 255, 255);
height: 7rem;
width: 35rem;
padding-left: 6px;
border-radius: 7px;
}

.confirm-button{
background-color: #ffe19a77;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
border-radius: 8px;
font-size: 1.1rem;
transition: 0.15s ease-in-out;

}

.cancel-button{
background-color: #ffe19a77;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
border-radius: 8px;
font-size: 1.1rem;
transition: 0.15s ease-in-out;
}